    body {
      margin: 0;
      font-family: "Inter", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil", "Segoe UI Emoji", "Apple Color Emoji", Arial, sans-serif;

      /* ✅ Background Image */
      background: url("assets/images/Cute Finger Heart Drawing Computer Desktop Background Wallpaper.png")
        no-repeat center center/cover;
    }

    .thank-card {
      background: white;
      padding: 40px;
      width: 420px;
      margin-top: 180px;
      margin-bottom: 140px;
      margin-left: 600px;
      border-radius: 18px;
      text-align: center;
      box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    }

    .thank-card h1 {
      color: #ff2f68;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .thank-card p {
      font-size: 15px;
      color: #444;
      margin-bottom: 20px;
    }

    .thank-card a {
      display: inline-block;
      padding: 10px 18px;
      background: #ff2f68;
      color: white;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
    }

    .thank-card a:hover {
      background: #e60045;
    }
